body {
    background-image: url(../assets/pokemon_img/background_img.png);
    background-size: cover;
}
section {
    display: flex;
    justify-content: center;
}
a {
    background-color: rgba(1, 248, 228, 0.626);
    font-size: 35px;
}

.pokemonDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.594);
    color: white;
    font-size: 25px;
    width: 750px;
    text-align: center;
}
